#faq {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq h2 {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.faqContent {
    width: 100%;
    margin: auto;
    margin-bottom: 32px;
    cursor: pointer;
    text-decoration: none;
}

.question {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease; 
}

.faqContent.active .answer {
    max-height: 400px; 
    transition: max-height 1s ease; 
}

.faqContent.active svg {
    transform: rotate(180deg);
    transition: transform 0.6s ease;
}

svg {
    width: 32px;
    transition: transform 0.6s ease;
}