@media only screen and (max-width: 800px) {

    .leftCol h1 {
        font-size: 32px;
    }
    
    .leftCol p {
        font-size: 24px;
    }
    
    .testimonial {
        margin-top: 0px;
        flex-direction: column;
    }   

    .testimonialInfo img {
        height: 25vh;
    }
    
    .features {
        padding-bottom: 0px;
    }

    .features ul {
        display: inline-block;
        grid-template-columns: repeat(1, 1fr);
    }

    .features ul li {
        margin-bottom: 32px;
    }

    .features ul li:nth-of-type(3) {
        margin-bottom: 0px;
    }

} 

@media only screen and (max-width: 1252px) {
    
    .header_cta {
        display: none;
    }

    .hero {
        text-align: center;
        flex-direction: column;
    }

    .hero h1 {
        margin-top: 64px;
    }

    .hero a img {
        margin-bottom: 64px;
    }

    .hero img {
        padding: 64px;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;
        z-index: 2;
    }

    .features {
        padding-bottom: 180px;
    }

    .features ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

} 